@charset "utf-8";

/************************************************

					setting

*************************************************/
* {
	outline: 0;
	box-sizing: border-box;
}
html,body {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font-weight: 400;
	font-family: 'NanumSquare', 'NanumGothic', sans-serif;
	letter-spacing: 0px;
	-webkit-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
input[type="submit"],input[type="button"],input[type="text"],input[type="password"],textarea {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	appearance: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
	border-radius: 0;
	border: none;
    font-family: 'dotum', sans-serif !important;
}
input[type="submit"],input[type="checkbox"],input[type="radio"],input[type="button"],button,select,label {
	cursor: pointer;
}
select {
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
	-ms-appearance: none !important;
	appearance: none !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
	border-radius: 0;
	background: #ffffff url('../img/select_arrow.png') no-repeat 95% center;
}
select::-ms-expand {
	display: none;
}
input::-webkit-input-placeholder {
	color: #9f9f9f;
}
input::-moz-placeholder {
	color: #9f9f9f;
}
input::-ms-input-placeholder {
	color: #9f9f9f;
}
textarea::-webkit-input-placeholder {
	color: #9f9f9f !important;
}
textarea::-moz-placeholder {
	color: #9f9f9f !important;
}
textarea::-ms-input-placeholder {
	color: #9f9f9f !important;
}
img {
	vertical-align: middle;
}
p,span,th,td {
    word-break: keep-all;
}
header,nav,section,article,footer {
    display: block;
}
#wrap {
	width: 100%;
	height: 100%;
	position: relative;
	clear: both;
}
.not_view {
	width: 0;
	height: 0;
	position: absolute;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
.center_ct {
	width: 94%;
	max-width: 1100px;
	margin: 0 auto;
}
.cf:after {
	content: '';
	clear: both;
	display: block;
}
.fk_header {
	height: 202px;
}
.fk_header.top_popup_none {
	height: 161px;
}

@media screen and (max-width: 1200px) {
    .fk_header {
        height: 187px;
    }
	.fk_header.top_popup_none {
        height: 146px;
    }
}

@media screen and (max-width: 900px) {
    .fk_header {
        height: 121px;
    }
	.fk_header.top_popup_none {
        height: 90px;
    }
}

@media screen and (max-width: 550px) {
    .fk_header {
        height: 101px;
    }
	.fk_header.top_popup_none {
        height: 70px;
    }
}

/************************************************

					header

*************************************************/
header.header {
	width: 100%;
    height: 202px;
    font-size: 16px;
    line-height: 1em;
    position: fixed;
	top: 0;
	left: 0;
    z-index: 999;
    background-color: #ffffff;
}
header.header.top_popup_none {
	height: 161px;
}
header.header .header_top {
	width: 100%;
	height: 37px;
	line-height: 37px;
	text-align: right;
}
header.header .header_top .header_link>li {
	display: inline-block;
	vertical-align: middle;
	color: #5f5f5f;
	font-size: 12px;
	line-height: 1em;
	font-family: 'NanumGothic', sans-serif;
}
header.header .header_top .header_link>li:before {
	content: '';
	width: 2px;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	background-color: #aaaaaa;
	margin: 0 1em;
}
header.header .header_top .header_link>li:first-child:before {
	content: '';
	background-color: #ffffff;
	margin: 0;
}
header.header .header_top .header_link>li.active {
	color: #00c36a;
}
header.header .header_top .header_link>li a {
	color: #5f5f5f;
}
header.header .header_top .header_link>li.active a {
	color: #00c36a;
}
header.header .header_logo {
	width: 100%;
	height: 52px;
	line-height: 52px;
	text-align: center;
}
header.header .header_logo img {
	width: auto;
	height: auto;
	max-height: 100%;
	padding: 6px 0;
}
header.header .header_bottom {
	width: 100%;
	height: 72px;
	line-height: 72px;
}
header.header .header_bottom .header_bottom_left {
	width: 72.44%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}
header.header .header_bottom .header_bottom_right {
	width: 27.56%;
	height: auto;
	float: right;
}
header.header .header_bottom .header_bottom_right .header_search {
	width: 84.23%;
	height: 2.125em;
	line-height: 2.125em;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	background-color: #f7f7f7;
	-webkit-border-radius: 1.063em;
	-moz-border-radius: 1.063em;
	-ms-border-radius: 1.063em;
	border-radius: 1.063em;
}
header.header .header_bottom .header_bottom_right .header_search .header_search_txt {
	width: calc(100% - 40px);
	height: 100%;
	background-color: #f7f7f7;
	color: #6b6b6b;
	font-size: 1em;
	line-height: 1em;
	padding: 0 10px 0 20px;
}
header.header .header_bottom .header_bottom_right .header_search .header_search_btn {
	width: 40px;
	height: 100%;
	float: right;
	font-size: 0;
	background: url('../img/top_search.png') no-repeat center;
	background-size: auto 20px;
}
header.header .header_bottom .header_bottom_right .header_cart {
	width: 10.45%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
	margin-left: 3.92%;
}
header.header .header_bottom .header_bottom_right .header_cart img {
	width: auto;
	height: auto;
	max-width: 100%;
}

@media screen and (max-width: 1200px) {
    header.header {
		height: 187px;
		font-size: 15px;
	}
	header.header.top_popup_none {
		height: 146px;
	}
	header.header .header_top {
		height: 32px;
		line-height: 32px;
	}
	header.header .header_logo {
		height: 47px;
		line-height: 47px;
	}
	header.header .header_bottom {
		height: 67px;
		line-height: 67px;
	}
	header.header .header_bottom .header_bottom_right .header_search {
		width: 83.83%;
	}
	header.header .header_bottom .header_bottom_right .header_search .header_search_txt {
		width: calc(100% - 36px);
		padding: 0 8px 0 16px;
	}
	header.header .header_bottom .header_bottom_right .header_search .header_search_btn {
		width: 36px;
		background: url('../img/top_search.png') no-repeat center;
		background-size: auto 18px;
	}
}

@media screen and (max-width: 900px) {
	header.header {
		display: none;
	}
}

/************************************************

					nav

*************************************************/
nav.nav {
	width: 100%;
	height: auto;
}
nav.nav .nav_menu>li {
	display: inline-block;
	vertical-align: middle;
	color: #6b6b6b;
	font-size: 1em;
	line-height: 1em;
	font-weight: 600;
	font-family: 'NanumGothic', sans-serif;
}
nav.nav .nav_menu>li:before {
	content: '';
	width: 2px;
	height: 1em;
	display: inline-block;
	vertical-align: middle;
	background-color: #6b6b6b;
	margin: 0 2.5em;
}
nav.nav .nav_menu>li:first-child:before {
	content: '';
	background-color: #ffffff;
	margin: 0;
}
nav.nav .nav_menu>li.nav_sitemap {
	height: 72px;
	line-height: 72px;
	position: relative;
	cursor: pointer;
}
nav.nav .nav_menu>li.nav_sitemap:before {
	content: '';
	width: 1.063em;
	height: 0.875em;
	display: inline-block;
	vertical-align: middle;
	background: url('../img/top_menu.png') no-repeat center;
	background-size: contain;
	margin-right: 0.75em;
}
nav.nav .nav_menu>li a {
	color: #6b6b6b;
}
nav.nav .nav_menu>li.nav_sitemap .nav_sitemap_tit {
	display: inline-block;
	vertical-align: middle;
}
nav.nav .nav_menu>li.nav_sitemap .nav_sub_menu {
	width: calc(100% + 2.5em);
	height: auto;
	position: absolute;
	top: calc(100% - 1px);
	left: 0;
	z-index: 9;
	display: none;
}
nav.nav .nav_menu>li.nav_sitemap .nav_sub_menu>li {
	background-color: #f7f7f7;
	line-height: 2em;
	padding: 5px 10px;
}
nav.nav .nav_menu>li.nav_sitemap .nav_sub_menu>li:hover {
	background-color: #00c36a;
	color: #ffffff;
}
nav.nav .nav_menu>li.nav_sitemap .nav_sub_menu>li a {
	display: block;
}
nav.nav .nav_menu>li.nav_sitemap .nav_sub_menu>li:hover a {
	color: #ffffff;
}

@media screen and (max-width: 1200px) {
	nav.nav .nav_menu>li:before {
		margin: 0 1.875em;
	}
	nav.nav .nav_menu>li.nav_sitemap {
		height: 67px;
		line-height: 67px;
	}
	nav.nav .nav_menu>li.nav_sitemap .nav_sub_menu {
		width: calc(100% + 1.875em);
	}
}

@media screen and (max-width: 1080px) {
	nav.nav .nav_menu>li:before {
		margin: 0 1.25em;
	}
	nav.nav .nav_menu>li.nav_sitemap .nav_sub_menu {
		width: calc(100% + 1.25em);
	}
}

/************************************************

					aside

*************************************************/


/************************************************

					mobile

*************************************************/
.mb_area {
	width: 100%;
	height: 121px;
	font-size: 14px;
    line-height: 1em;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #ffffff;
    text-align: center;
	display: none;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
	transition: all 0.4s;
}
.mb_area.top_popup_none {
	height: 90px;
}
.mb_area .mb_logo {
	width: 100%;
	height: 90px;
	-webkit-box-shadow: 5px 5px 5px 0px rgba(206,206,206,0.5);
	-moz-box-shadow: 5px 5px 5px 0px rgba(206,206,206,0.5);
	box-shadow: 5px 5px 5px 0px rgba(206,206,206,0.5);
}
.mb_area .mb_logo img {
	width: auto;
	height: 100%;
	padding: 30px 0;
}
.mb_area .mb_btn {
	position: absolute;
	top: 64px;
	left: 20px;
	z-index: 9999;
	cursor: pointer;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
	transition: all 0.4s;
}
.mb_area .mb_btn_over,
.mb_area.top_popup_none .mb_btn {
	top: 33px;
}
.mb_area .mb_btn .line {
	width: 22px;
	height: 2px;
	background-color: #606060;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
	transition: all 0.4s;
}
.mb_area .mb_btn .line2 {
	margin: 6px 0;
}
.mb_area .line11 {
	width: 24px !important;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	transform-origin: left top;
}
.mb_area .line22 {
	opacity: 0;
}
.mb_area .line33 {
	width: 24px !important;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform-origin: left bottom;
}
.mb_area .mb_cart {
	position: absolute;
	top: 59px;
	right: 20px;
	z-index: 999;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
	transition: all 0.4s;
}
.mb_area.top_popup_none .mb_cart {
	top: 28px;
}
.mb_area .mb_menu {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: -1;
    background-color: #000000;
    opacity: 0.8;
	display: none;
}
.mb_area .mb_box {
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	left: -300px;
	z-index: 999;
	background-color: #cecece;
	box-sizing: border-box;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
	transition: 0.4s;
}
.mb_area .mb_box .header_logo {
	width: 100%;
	height: 90px;
	background-color: #ffffff;
}
.mb_area .mb_box .header_logo img {
	width: auto;
	height: 100%;
	padding: 30px 0;
}
.mb_area .mb_box .mb_box_con {
	height: calc(100% - 90px);
	overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.mb_area .mb_box .mb_box_con::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}
.mb_area .mb_box .header_top .header_link {
	padding: 10px 0;
	border-bottom: 6px solid #ffffff;
}
.mb_area .mb_box .header_top .header_link>li {
	width: 50%;
	height: auto;
	float: left;
	border-left: 2px solid #5f5f5f;
	color: #5f5f5f;
	font-size: 12px;
	line-height: 1em;
	font-weight: 600;
	font-family: 'NanumGothic', sans-serif;
	margin: 5px 0;
}
.mb_area .mb_box .header_top .header_link>li:nth-child(2n + 1) {
	border-left: none;
}
.mb_area .mb_box .header_top .header_link>li.active {
	color: #00c36a;
}
.mb_area .mb_box .header_top .header_link>li a {
	color: #5f5f5f;
}
.mb_area .mb_box .header_top .header_link>li.active a {
	color: #00c36a;
}
.mb_area .mb_box .header_search {
	padding: 10px;
	border-bottom: 6px solid #ffffff;
}
.mb_area .mb_box .header_search>form {
	width: 100%;
	height: 2.125em;
	line-height: 2.125em;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	background-color: #ffffff;
	-webkit-border-radius: 1.063em;
	-moz-border-radius: 1.063em;
	-ms-border-radius: 1.063em;
	border-radius: 1.063em;
}
.mb_area .mb_box .header_search>form .header_search_txt {
	width: calc(100% - 36px);
	height: 100%;
	background-color: #ffffff;
	color: #6b6b6b;
	font-size: 1em;
	line-height: 1em;
	padding: 0 8px 0 16px;
}
.mb_area .mb_box .header_search>form .header_search_btn {
	width: 36px;
	height: 100%;
	float: right;
	font-size: 0;
	background: url('../img/top_search.png') no-repeat center;
	background-size: auto 18px;
}
.mb_area .mb_box .nav_menu {
	border-bottom: 4px solid #ffffff;
}
.mb_area .mb_box .nav_menu>li {
	color: #6b6b6b;
	font-size: 1em;
	line-height: 2em;
	font-weight: 600;
	font-family: 'NanumGothic', sans-serif;
	border-bottom: 2px solid #ffffff;
	padding: 10px;
	text-align: left;
}
.mb_area .mb_box .nav_menu>li a {
	color: #6b6b6b;
	display: block;
}
.mb_area .mb_box .nav_menu>li .nav_sitemap_tit {
	background: url('../img/down_arrow.png') no-repeat right center;
	cursor: pointer;
}
.mb_area .mb_box .nav_menu>li .nav_sitemap_tit.on {
	background: url('../img/up_arrow.png') no-repeat right center;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu {
	margin-top: 5px;
	display: none;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu>li {
	background-color: #f7f7f7;
	padding: 5px 10px;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu>li:hover {
	background-color: #00c36a;
	color: #ffffff;
}
.mb_area .mb_box .nav_menu>li .nav_sub_menu>li:hover a {
	color: #ffffff;
}

@media screen and (max-width: 900px) {
	.mb_area {
		display: block;
	}
}

@media screen and (max-width: 550px) {
	.mb_area {
		height: 101px;
		font-size: 13px;
	}
	.mb_area.top_popup_none {
		height: 70px;
	}
	.mb_area .mb_logo {
		height: 70px;
	}
	.mb_area .mb_logo img {
		padding: 25px 0;
	}
	.mb_area .mb_btn {
		top: 54px;
	}
	.mb_area .mb_btn_over,
	.mb_area.top_popup_none .mb_btn {
		top: 23px;
	}
	.mb_area .mb_cart {
		top: 49px;
	}
	.mb_area.top_popup_none .mb_cart {
		top: 18px;
	}
	.mb_area .mb_box .header_logo {
		height: 70px;
	}
	.mb_area .mb_box .header_logo img {
		padding: 25px 0;
	}
	.mb_area .mb_box .mb_box_con {
		height: calc(100% - 70px);
	}
}

/************************************************

					footer

*************************************************/
footer.footer {
	width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 1em;
	background-color: #ffffff;
	border-top: 2px solid #cecece;
}
footer.footer .footer_top {
	padding: 24px 0;
}
footer.footer .footer_top .footer_link>li {
	display: inline-block;
	vertical-align: middle;
	color: #2b2b2b;
	font-size: 0.875em;
	line-height: 1em;
	letter-spacing: -0.025em;
	margin-left: 1.438em;
	-webkit-transform: skew(-0.04deg);
	-moz-transform: skew(-0.04deg);
	-ms-transform: skew(-0.04deg);
	transform: skew(-0.04deg);
}
footer.footer .footer_top .footer_link>li:first-child {
	margin-left: 0;
}
footer.footer .footer_top .footer_link>li.active {
	color: #8dad7d;
}
footer.footer .footer_top .footer_link>li a {
	color: #2b2b2b;
}
footer.footer .footer_top .footer_link>li.active a {
	color: #8dad7d;
}
footer.footer .footer_bottom {
	padding: 24px 0 66px;
}
footer.footer .footer_bottom .footer_bottom_left {
	width: 29.81%;
	height: auto;
	display: inline-block;
	vertical-align: top;
	-webkit-transform: skew(-0.04deg);
	-moz-transform: skew(-0.04deg);
	-ms-transform: skew(-0.04deg);
	transform: skew(-0.04deg);
}
footer.footer .footer_bottom .footer_bottom_left .medium {
	color: #1e1e1e;
	font-size: 1.5em;
	line-height: 1.2em;
	letter-spacing: -0.025em;
	margin-bottom: 4px;
}
footer.footer .footer_bottom .footer_bottom_left .big {
	color: #1e1e1e;
	font-size: 2.25em;
	line-height: 1.2em;
	font-weight: 600;
	letter-spacing: -0.05em;
	margin-bottom: 6px;
}
footer.footer .footer_bottom .footer_bottom_left .small {
	color: #1e1e1e;
	font-size: 0.875em;
	line-height: 1.286em;
	font-weight: 600;
	letter-spacing: -0.05em;
}
footer.footer .footer_bottom .footer_bottom_center {
	width: 21.09%;
	height: auto;
	display: inline-block;
	vertical-align: top;
	margin-right: 4.23%;
}
footer.footer .footer_bottom .footer_bottom_center img {
	width: auto;
	height: auto;
	max-width: calc(50% - 8px);
	margin-right: 6px;
}
footer.footer .footer_bottom .footer_bottom_right {
	width: 44.07%;
	height: auto;
	display: inline-block;
	vertical-align: top;
	-webkit-transform: skew(-0.04deg);
	-moz-transform: skew(-0.04deg);
	-ms-transform: skew(-0.04deg);
	transform: skew(-0.04deg);
}
footer.footer .footer_bottom .footer_bottom_right .big {
	color: #1e1e1e;
	font-size: 1.125em;
	line-height: 1.2em;
	letter-spacing: -0.025em;
	margin-bottom: 4px;
}
footer.footer .footer_bottom .footer_bottom_right .small {
	color: #484848;
	font-size: 0.875em;
	line-height: 1.5em;
	letter-spacing: -0.025em;
}
footer.footer .footer_bottom .footer_bottom_right .small a {
	color: #484848;
}

@media screen and (max-width: 1200px) {
	footer.footer {
		font-size: 15px;
	}
	footer.footer .footer_top {
		padding: 19px 0;
	}
	footer.footer .footer_top .footer_link>li {
		margin-left: 1.071em;
	}
	footer.footer .footer_bottom {
		padding: 19px 0 56px;
	}
}

@media screen and (max-width: 1080px) {
	footer.footer .footer_bottom .footer_bottom_left {
		width: 73.88%;
		padding-bottom: 38px;
	}
	footer.footer .footer_bottom .footer_bottom_center {
		margin-right: 0;
		margin-left: 4.23%;
	}
	footer.footer .footer_bottom .footer_bottom_center img {
		margin-right: 0;
		margin-left: 6px;
	}
	footer.footer .footer_bottom .footer_bottom_right {
		width: 100%;
	}
	footer.footer .footer_bottom .footer_bottom_right .small .br_1080 {
		display: none;
	}
}

@media screen and (max-width: 900px) {
	footer.footer {
		font-size: 14px;
	}
	footer.footer .footer_top {
		padding: 14px 0;
	}
	footer.footer .footer_top .footer_link {
		text-align: center;
	}
	footer.footer .footer_top .footer_link>li {
		margin-left: 0.714em;
		margin-top: 0.714em;
	}
	footer.footer .footer_bottom {
		padding: 14px 0 46px;
		text-align: center;
	}
	footer.footer .footer_bottom .footer_bottom_left {
		width: 100%;
		padding-bottom: 28px;
		text-align: center;
	}
	footer.footer .footer_bottom .footer_bottom_center {
		width: 50%;
		margin-left: 0;
		padding-bottom: 28px;
		text-align: center;
		float: none;
	}
	footer.footer .footer_bottom .footer_bottom_center img {
		margin: 0 3px;
	}
	footer.footer .footer_bottom .footer_bottom_right {
		text-align: center;
	}
}

@media screen and (max-width: 550px) {
	footer.footer {
		font-size: 13px;
	}
	footer.footer .footer_top {
		padding: 9px 0;
	}
	footer.footer .footer_bottom {
		padding: 9px 0 36px;
	}
	footer.footer .footer_bottom .footer_bottom_left {
		padding-bottom: 18px;
	}
	footer.footer .footer_bottom .footer_bottom_center {
		padding-bottom: 18px;
	}
}

